body{
  margin: 0;
}

.header{
  width: 1200px;
  height: 40px;
  display: flex;
  margin: auto;
  margin-top: 24px;
  align-items: center;
  margin-bottom: 48px;
}

.header-logo{
  width: 224px;
  height: 40px;
}

.menu{
  width: 495px;
  height: 24px;
  display: flex;
}

ul{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 60px;
  margin-left: 129px;
}

li{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color:#1D3130;
}
.menu_btn{
  width: 12px;
  height: 6px;
  background: url(./components/media/menu_btn.svg);
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 8px;
  padding: 0;
}
.call_num{
  margin-right: 8px;
}
.First_block{
    width: 1200px;
    height: 455px;
    display: flex;
    margin: auto;
    margin-bottom: 56px;
    align-items: center;
}
.burger_title{
    height: 256px;
    width: 419px;
}
.burger_img{
    height: 455px;
    width: 659px;
    background: url(./components/media/бургер.jpg);
    margin-left: 122px;
}
.burger-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color:#254F4C;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}
.burger-subtitle{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1D3130;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}
.burger-btn{
    width: 216px;
    height: 49px;
    background: #FF583E;
    color: #ffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}